<div *ngFor = "let item of items" style="max-width: 500px; height: 550px;; display:inline-block; margin-left: 10%; margin-top:5%;">
        <div class="card mb-3 h-100" *ngIf ="item.category">
                <img mat-card-image [src]="item.image" class="card-img-top" alt="..." style="max-height: 350px; min-height:350px;">
                <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <h6 class="card-text" >Price: {{item.price}} BGN</h6>
                </div>
            </div>
</div>