<html lang="en">
    <body>
        <header>
          <div class="view" >
            <div class="mask rgba-gradient align-items-center">
              <div class="container">
                <div class="row" width = "100%">
                  <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-weight-bold mt-sm-5">Make purchases with our app </h1>
                    <hr class="hr-light">
                    <a class="btn btn-white">Download</a>
                    <a class="btn btn-outline-white">Learn more</a>
                  </div>
                  <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                    <img src="https://images.crateandbarrel.com/is/image/Crate/cb_dSC_20190429_FurnitureHero?wid=1680&qlt=75" alt="" class="img-fluid" height="40%">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <main>
          <div class="container">
            <div class="row py-5">
              <div class="col-md-12 text-center">
                <p>We offer full range of services regarding the interior design of your home, office, hotel, villa - Complete solutions, original ideas and most importantly – a trusted partner,
                   whom you can trust with all the work related to home renovations, 
                   furnishing and decoration of your home or business premises. 
                   Explore our services and find out how we can be helpful to you.</p>
              </div>
            </div>
          </div>
        </main>
    </body>
</html>